<h1>Click to toggle the active status for users</h1>
<div>
    <mat-form-field>
        <input matInput #filterInput (keyup)="applyFilter(filterInput.value)" placeholder="Filter">
    </mat-form-field>
</div>

<div class="overflow-x-auto">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="min-w-full">
        <!-- Column definitions -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id"
                class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">id</mat-header-cell>
            <mat-cell *matCellDef="let user" class="px-6 py-4 whitespace-nowrap">{{ user.id }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="mobile">
            <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by mobile number" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase
                tracking-wider">mobile</mat-header-cell>
            <mat-cell *matCellDef="let user" class="px-6 py-4 whitespace-nowrap">{{ user.mobile }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef
                class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">First
                Name</mat-header-cell>
            <mat-cell *matCellDef="let user" class="px-6 py-4 whitespace-nowrap">{{ user.firstName }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef
                class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Last
                Name</mat-header-cell>
            <mat-cell *matCellDef="let user" class="px-6 py-4 whitespace-nowrap">{{ user.lastName }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef
                class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">E-Mail</mat-header-cell>
            <mat-cell *matCellDef="let user" class="px-6 py-4 whitespace-nowrap">{{ user.email }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="registrationDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by registration date" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase
                tracking-wider">registrationDate
                <br> DD.MM.YYYY</mat-header-cell>
            <mat-cell *matCellDef="let user" class="px-6 py-4 whitespace-nowrap">{{ user.registrationDate |
                date:'dd.MM.yy HH:mm:ss':'UTC' }} UTC</mat-cell>
        </ng-container>
        <ng-container matColumnDef="role">
            <mat-header-cell *matHeaderCellDef
                class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">role</mat-header-cell>
            <mat-cell *matCellDef="let user" class="px-6 py-4 whitespace-nowrap">
                <!-- <mat-select [(ngModel)]="user.role" (selectionChange)="updateUser(user)">
                        <mat-option *ngFor="let r of roles" [value]="r">
                            {{ r }}
                        </mat-option>
                    </mat-select> -->
                {{ user.role }}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="active">
            <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by active status" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase
                tracking-wider">active</mat-header-cell>
            <mat-cell *matCellDef="let user" class="px-6 py-4 whitespace-nowrap">
                <mat-slide-toggle [(ngModel)]="user.active" (change)="updateUser(user)"></mat-slide-toggle>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="twilio_sid">
            <mat-header-cell *matHeaderCellDef
                class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Twilio
                Sid</mat-header-cell>
            <mat-cell *matCellDef="let user" class="px-6 py-4 whitespace-nowrap">
                <ng-container *ngIf="!editMode; else editableCell">{{ user.twilio_sid }}</ng-container>
                <ng-template #editableCell><input type="text" [(ngModel)]="user.twilio_sid"
                        (blur)="updateUser(user)"></ng-template>
                <button mat-icon-button (click)="toggleEditMode(user)">
                    <mat-icon>{{ editMode ? 'save' : 'edit' }}</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="twilio_auth">
            <mat-header-cell *matHeaderCellDef
                class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Twilio
                Auth Token</mat-header-cell>
            <mat-cell *matCellDef="let user" class="px-6 py-4 whitespace-nowrap">

                <ng-container *ngIf="!editMode; else editableCell">{{ user.twilio_auth }}</ng-container>
                <ng-template #editableCell><input type="text" [(ngModel)]="user.twilio_auth"
                        (blur)="updateUser(user)"></ng-template>
                <button mat-icon-button (click)="toggleEditMode(user)">
                    <mat-icon>{{ editMode ? 'save' : 'edit' }}</mat-icon>
                </button>
            </mat-cell>
        </ng-container>


        <!-- Table header -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <!-- Table rows -->
        <mat-row *matRowDef="let user; columns: displayedColumns"></mat-row>
    </table>
    <mat-paginator #paginator [pageSizeOptions]="pageSizes" showFirstLastButtons></mat-paginator>
</div>