<div class="grid grid-cols-3 grid-rows-2 gap-4">
    <div id="queryfromnumbers">
        <h1>Query your available from numbers and choose one:</h1>
        <app-queryfrom></app-queryfrom>
    </div>
    <div id="uploadnumbers">
        <h1>Please choose your number file:</h1>
        <app-uploadnumbers></app-uploadnumbers>
    </div>
    <div id="audiouploader">
        <h1>Please choose your audio file:</h1>
        <app-uploadaudio></app-uploadaudio>
    </div>
    <div class="col-span-3">
        <app-initcall></app-initcall>
    </div>
</div>