<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 grid-rows-2 gap-4">
    <div id="queryfromnumbers">
        <h1>Choose a "from" number:</h1>
        <app-queryfrom></app-queryfrom>
    </div>
    <div id="uploadnumbers">
        <h1>Please choose your number file:</h1>
        <app-uploadnumbers></app-uploadnumbers>
    </div>
    <div id="audiouploader">
        <h1>Please choose your audio file:</h1>
        <app-uploadaudio></app-uploadaudio>
    </div>
    <div class="col-span-1 sm:col-span-2 lg:col-span-3">
        <app-initcall></app-initcall>
    </div>
</div>