<div class="grid grid-cols-2 grid-rows-3 gap-4">
  <div class="col-span-2 flex justify-center">
    <button [disabled]="!completenessCheck" (click)="sendCall()" color="primary" mat-raised-button>Initiate
      Call(s)</button>
  </div>
  <div class="col-span-2 row-start-2 flex justify-center">
    <div>
      <div *ngIf="total_to_count > 0">Total numbers to be called: {{ total_to_count }}</div>
      <br>
      <div *ngIf="current_to_count > 0; else elseBlock">Currently queuing call: {{ current_to_count }}</div>
      <ng-template #elseBlock>Waiting...! <mat-spinner [diameter]="20"></mat-spinner></ng-template>
    </div>
  </div>
  <div class="row-start-3">
    <div *ngIf="missingData">
      <p></p>
    </div>
  </div>
  <div class="row-start-3">placeholder</div>
</div>